# Desafio 3

Neste desafio, iremos praticar nossos conhecimentos sobre distribuições de probabilidade. Para isso,
dividiremos este desafio em duas partes:
    
1. A primeira parte contará com 3 questões sobre um *data set* artificial com dados de uma amostra normal e
    uma binomial.
2. A segunda parte será sobre a análise da distribuição de uma variável do _data set_ [Pulsar Star](https://archive.ics.uci.edu/ml/datasets/HTRU2), contendo 2 questões.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [130]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sct
import seaborn as sns
from statsmodels.distributions.empirical_distribution import ECDF

In [131]:
#%matplotlib inline

from IPython.core.pylabtools import figsize


figsize(12, 8)

sns.set()

## Parte 1

### _Setup_ da parte 1

In [132]:
np.random.seed(42)
    
dataframe = pd.DataFrame({"normal": sct.norm.rvs(20, 4, size=10000),
                     "binomial": sct.binom.rvs(100, 0.2, size=10000)})

## Inicie sua análise a partir da parte 1 a partir daqui

In [135]:
descr = dataframe.describe()
dataframe.describe()

             normal      binomial
count  10000.000000  10000.000000
mean      19.991456     20.097000
std        4.013850      4.041191
min        4.310399      6.000000
25%       17.309638     17.000000
50%       19.989620     20.000000
75%       22.684324     23.000000
max       35.704951     36.000000

In [136]:
descr.loc["25%","normal"]

17.30963787997159

In [137]:
q1_norm = descr.loc["25%","normal"]
q2_norm = descr.loc["50%","normal"]
q3_norm = descr.loc["75%","normal"]
q1_binom = descr.loc["25%","binomial"]
q2_binom = descr.loc["50%","binomial"]
q3_binom = descr.loc["75%","binomial"]
(round(q1_norm - q1_binom,3), round(q2_norm - q2_binom,3), round(q3_norm - q3_binom,3))

(0.31, -0.01, -0.316)

In [138]:
q_norm = np.quantile(dataframe['normal'], [0.25, 0.50, 0.75])
q_binom = np.quantile(dataframe['binomial'], [0.25, 0.50, 0.75])
dif_norm_binom = np.around(q_norm-q_binom, 3)
tuple(dif_norm_binom)

(0.31, -0.01, -0.316)

In [139]:
ECDF(dataframe['normal'])(descr.loc["mean","normal"] + descr.loc["std","normal"]) - ECDF(dataframe['normal'])(descr.loc["mean","normal"] - descr.loc["std","normal"])

0.6838

## Questão 1

Qual a diferença entre os quartis (Q1, Q2 e Q3) das variáveis `normal` e `binomial` de `dataframe`? Responda como uma tupla de três elementos arredondados para três casas decimais.

Em outra palavras, sejam `q1_norm`, `q2_norm` e `q3_norm` os quantis da variável `normal` e `q1_binom`, `q2_binom` e `q3_binom` os quantis da variável `binom`, qual a diferença `(q1_norm - q1 binom, q2_norm - q2_binom, q3_norm - q3_binom)`?

In [140]:
def q1():
    q_norm = np.quantile(dataframe['normal'], [0.25, 0.50, 0.75])
    q_binom = np.quantile(dataframe['binomial'], [0.25, 0.50, 0.75])
    dif_norm_binom = np.around(q_norm-q_binom, 3)
    return tuple(dif_norm_binom)

In [141]:
q1()

(0.31, -0.01, -0.316)

Para refletir:

* Você esperava valores dessa magnitude?

* Você é capaz de explicar como distribuições aparentemente tão diferentes (discreta e contínua, por exemplo) conseguem dar esses valores?

## Questão 2

Considere o intervalo $[\bar{x} - s, \bar{x} + s]$, onde $\bar{x}$ é a média amostral e $s$ é o desvio padrão. Qual a probabilidade nesse intervalo, calculada pela função de distribuição acumulada empírica (CDF empírica) da variável `normal`? Responda como uma único escalar arredondado para três casas decimais.

In [142]:
def q2():
    return float(ECDF(dataframe['normal'])(descr.loc["mean","normal"] + descr.loc["std","normal"]) - ECDF(dataframe['normal'])(descr.loc["mean","normal"] - descr.loc["std","normal"]))

In [143]:
q2()

0.6838

Para refletir:

* Esse valor se aproxima do esperado teórico?
* Experimente também para os intervalos $[\bar{x} - 2s, \bar{x} + 2s]$ e $[\bar{x} - 3s, \bar{x} + 3s]$.

In [144]:
# [𝑥¯−2𝑠,𝑥¯+2𝑠]
ECDF(dataframe['normal'])(descr.loc["mean","normal"] + 2*descr.loc["std","normal"]) - ECDF(dataframe['normal'])(descr.loc["mean","normal"] - 2*descr.loc["std","normal"])

0.9538

In [145]:
# [𝑥¯−3𝑠,𝑥¯+3𝑠] 
ECDF(dataframe['normal'])(descr.loc["mean","normal"] + 3*descr.loc["std","normal"]) - ECDF(dataframe['normal'])(descr.loc["mean","normal"] - 3*descr.loc["std","normal"])

0.9973000000000001

## Questão 3

Qual é a diferença entre as médias e as variâncias das variáveis `binomial` e `normal`? Responda como uma tupla de dois elementos arredondados para três casas decimais.

Em outras palavras, sejam `m_binom` e `v_binom` a média e a variância da variável `binomial`, e `m_norm` e `v_norm` a média e a variância da variável `normal`. Quais as diferenças `(m_binom - m_norm, v_binom - v_norm)`?

In [146]:
def q3():
    a = round(dataframe['binomial'].mean() - dataframe['normal'].mean(),3)
    b = round(dataframe['binomial'].var() - dataframe['normal'].var(),3)
    return (a, b)

In [147]:
q3()

(0.106, 0.22)

Para refletir:

* Você esperava valore dessa magnitude?
* Qual o efeito de aumentar ou diminuir $n$ (atualmente 100) na distribuição da variável `binomial`?

In [148]:
dataframe2 = pd.DataFrame({"normal": sct.norm.rvs(20, 4, size=10000),
                     "binomial": sct.binom.rvs(800, 0.2, size=10000)})

In [149]:
descr2 = dataframe2.describe()

In [150]:
(round(descr2.loc["mean","binomial"] - descr2.loc["mean","normal"],3), round(descr2.loc["std","binomial"]**2-descr2.loc["std","normal"]**2,3))

(139.961, 110.543)

## Parte 2

### _Setup_ da parte 2

In [151]:
stars = pd.read_csv("pulsar_stars.csv")

stars.rename({old_name: new_name
              for (old_name, new_name)
              in zip(stars.columns,
                     ["mean_profile", "sd_profile", "kurt_profile", "skew_profile", "mean_curve", "sd_curve", "kurt_curve", "skew_curve", "target"])
             },
             axis=1, inplace=True)

stars.loc[:, "target"] = stars.target.astype(bool)

## Inicie sua análise da parte 2 a partir daqui

In [152]:
# Sua análise da parte 2 começa aqui.
stars.head()

,mean_profile,sd_profile,kurt_profile,skew_profile,mean_curve,sd_curve,kurt_curve,skew_curve,target
0,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,False
1,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,False
2,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,False
3,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,False
4,93.570312,46.698114,0.531905,0.416721,1.636288,14.545074,10.621748,131.394004,False

In [154]:
stars.describe()

,mean_profile,sd_profile,kurt_profile,skew_profile,mean_curve,sd_curve,kurt_curve,skew_curve
count,17897.000000,17897.000000,17897.000000,17897.000000,17897.000000,17897.000000,17897.000000,17897.000000
mean,111.078321,46.549021,0.477897,1.770417,12.614926,26.326918,8.303574,104.859419
std,25.652705,6.843040,1.064056,6.168058,29.473637,19.471042,4.506217,106.517270
min,5.812500,24.772042,-1.876011,-1.791886,0.213211,7.370432,-3.139270,-1.976976
25%,100.929688,42.375426,0.027108,-0.188528,1.923077,14.437330,5.781485,34.957119
50%,115.078125,46.946435,0.223241,0.198736,2.801839,18.459977,8.433872,83.068996
75%,127.085938,51.022887,0.473349,0.928206,5.464883,28.428152,10.702973,139.310905
max,192.617188,98.778911,8.069522,68.101622,223.392140,110.642211,34.539844,1191.000837

In [155]:
false_stars = stars[stars['target']==False]

In [156]:
false_stars['false_pulsar_mean_profile_standardized'] = (false_stars['mean_profile'] - false_stars['mean_profile'].mean()) / (false_stars['mean_profile'].std())

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0       -0.804181
1       -0.775123
2        1.155263
3       -1.592787
4       -1.315613
           ...
17892    1.136934
17893    0.342963
17894    0.158776
17895   -0.117504
17896   -3.404704
Name: false_pulsar_mean_profile_standardized, Length: 16258, dtype: float64

In [158]:
q_1 = sct.norm.ppf(0.80, loc=0, scale=1)
q_1

0.8416212335729143

In [159]:
q_2 = sct.norm.ppf(0.90, loc=0, scale=1)
q_2

1.2815515655446004

In [160]:
q_3 = sct.norm.ppf(0.95, loc=0, scale=1)
q_3

1.6448536269514722

In [163]:
ECDF(false_stars['false_pulsar_mean_profile_standardized'])(q_1)

0.8055726411612745

In [164]:
ECDF(false_stars['false_pulsar_mean_profile_standardized'])(q_2)

0.9105671054250215

In [165]:
ECDF(false_stars['false_pulsar_mean_profile_standardized'])(q_3)

0.9587895190060278

## Questão 4

Considerando a variável `mean_profile` de `stars`:

1. Filtre apenas os valores de `mean_profile` onde `target == 0` (ou seja, onde a estrela não é um pulsar).
2. Padronize a variável `mean_profile` filtrada anteriormente para ter média 0 e variância 1.

Chamaremos a variável resultante de `false_pulsar_mean_profile_standardized`.

Encontre os quantis teóricos para uma distribuição normal de média 0 e variância 1 para 0.80, 0.90 e 0.95 através da função `norm.ppf()` disponível em `scipy.stats`.

Quais as probabilidade associadas a esses quantis utilizando a CDF empírica da variável `false_pulsar_mean_profile_standardized`? Responda como uma tupla de três elementos arredondados para três casas decimais.

In [166]:
def q4():
    q = sct.norm.ppf([0.8,0.9,0.95], loc=0, scale=1)
    p = ECDF(false_stars['false_pulsar_mean_profile_standardized'])(q)
    return tuple(np.around(p,3))

In [167]:
q4()

(0.806, 0.911, 0.959)

In [168]:
#Sugestão da Comunidade:

df4 = stars.query('target == False').mean_profile
false_pulsar_mean_profile_standardized = (df4 - df4.mean()) / df4.std()
cdf_emp = ECDF(false_pulsar_mean_profile_standardized)
quantis_dist_norm = sct.norm.ppf([0.80, 0.90, 0.95])
probabilidade_quantis = np.around(cdf_emp(quantis_dist_norm), 3)
tuple(probabilidade_quantis)

(0.806, 0.911, 0.959)

Para refletir:

* Os valores encontrados fazem sentido?
* O que isso pode dizer sobre a distribuição da variável `false_pulsar_mean_profile_standardized`?

## Questão 5

Qual a diferença entre os quantis Q1, Q2 e Q3 de `false_pulsar_mean_profile_standardized` e os mesmos quantis teóricos de uma distribuição normal de média 0 e variância 1? Responda como uma tupla de três elementos arredondados para três casas decimais.

In [169]:
def q5():
    q_falsestars = np.quantile(false_stars['false_pulsar_mean_profile_standardized'],[0.25,0.50,0.75])
    q_teorico = sct.norm.ppf([0.25,0.50,0.75], loc=0, scale=1)
    return tuple(np.around(q_falsestars - q_teorico, 3))

In [170]:
q5()

(0.027, 0.04, -0.004)

Para refletir:

* Os valores encontrados fazem sentido?
* O que isso pode dizer sobre a distribuição da variável `false_pulsar_mean_profile_standardized`?
* Curiosidade: alguns testes de hipóteses sobre normalidade dos dados utilizam essa mesma abordagem.